<!doctype html>
<html lang="en">

<head>
  <%- include("./partials/header.ejs") %>
    <title>Blog</title>
</head>

<body>
  <%- include("./partials/nav.ejs") %>
    <div class="container mt-4 d-flex align-items-center justify-content-evenly flex-wrap">
      <% blogs.forEach(blog=> {
        %>
        <div class="card" style="width: 18rem;">
          <img src="<%= blog.coverImageURL %>" style="aspect-ratio: 4/3; object-fit: cover;" width="400"
            class="img-thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.title %>
            </h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read Blog</a>
          </div>
        </div>
        <% }) %>
    </div>
    <%- include("./partials/script.ejs") %>
</body>

</html>